.containerAbout{
  width: 100%;
  height: 80vh;
  

  .wrapperAbout{
    max-width: 1360px;
    height: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 52rem 1fr;


    .containerImage{
    padding: 5.2rem 4.9rem 5.7rem 5.2rem ;

    display: flex;
    justify-content: center;
    align-items: center;



    img{
      width: 37rem;
    }

   }

  .content{
    padding: 5.2rem 5.1rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;


    h1{
      font-family: var(--font-Cormorant);
      font-style: normal;
      font-weight: 300;
      font-size: 3.8rem;
      color: var(--color-blue-350);
      margin-bottom: 5.1rem;
    }

    p{
      font: 300 1.9rem var(--font-Lato);
      margin-bottom: 2.7rem;
      color: var(--color-gray-150);
    }

    blockquote{
      position: relative;
      margin-bottom: 5rem;

      p{
        font: italic 2.4rem var(--font-Cormorant);
        color: var(--color-blue-600);
        margin-bottom: 2.7rem;
      }

      
      img{
        position: absolute;
        right: 1rem;
        top: -2rem;
      }

      cite{
        position: absolute;
        top: 11rem;
        right: 6rem;
        font: 500 2rem var(--font-Cormorant);
        color: var(--color-gray-450);

      }
    }

    a{
      transition: background .3s ease;

      &:hover{
        background: #013b53;
      }
    }
  }
  }
  
  
}


